{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <form
    id="postForm"
    method="post"
    enctype="multipart/form-data"
    action="{% url 'createpost' %}"
  >
    {% csrf_token %}
    <div class="createpostform">
      <h1>Create a New Instagram Post</h1>

      <div class="form-group">
        <label for="picture">Picture:</label>
        <input
          type="file"
          id="picture"
          name="picture"
          accept="image/*"
          required
        />
      </div>
      <div class="form-group">
        <label for="caption">Caption:</label>
        <textarea id="caption" name="caption" rows="4" required></textarea>
      </div>
      <div class="form-group">
        <label for="tags">Tags (comma-separated):</label>
        <input type="text" id="tags" name="tags" required />
      </div>
      <button type="submit">Create Post</button>
    </div>
  </form>
</div>
{% endblock %}
