{% extends "base.html" %} {% load static %} {% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
</head>
<header>
  <div class="container">
    <div class="profile">
      <div class="profile-image">
        <img src="{{profile.image.url}}" alt="" />
      </div>

      <div class="profile-user-settings">
        <h1 class="profile-user-name">{{profile.first_name}}</h1>

        {% if profile.user == request.user %}
        <a href="{% url 'editprofile' request.user %}">
          <button class="btn profile-edit-btn">Edit Profile</button>
        </a>
        {% endif %}

        <button class="btn profile-settings-btn" aria-label="profile settings">
          <i class="fas fa-cog" aria-hidden="true"></i>
        </button>
      </div>

      <div class="profile-stats">
        <ul>
          <li><span class="profile-stat-count">{{post_count}}</span> posts</li>
          <li>
            <span class="profile-stat-count">{{followers_count}}</span>
            followers
          </li>
          <li>
            <span class="profile-stat-count">{{following_count}}</span>
            following
          </li>
        </ul>
        {% if profile.user != request.user %} {% if follow_stats == True %}
        <a href="{% url 'follow' profile.user 0 %}"
          ><button href="">unollow</button></a
        >

        {% else %}
        <a href="{% url 'follow' profile.user 1 %}"
          ><button href="">follow</button></a
        >

        {% endif %}
        <a href="{% url 'new_message' profile.user.username %}"> message </a>
        {% endif %}
      </div>

      <div class="profile-bio">
        <p>
          <span class="profile-real-name">{{profile.url}}</span>
          {{profile.bio}}
        </p>
        <h6>{{profile.location}}</h6>
      </div>
    </div>
    <!-- End of profile section -->
  </div>
  <!-- End of container -->
</header>

<main>
  {% if posts %}
  <div class="container">
    {% for post in posts %}
    <div class="gallery">
      <a href="{{post.get_absolute_url}}">
        <div class="gallery-item" tabindex="0">
          <img src="{{post.picture.url}}" class="gallery-image" alt="" />

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> {{post.likes}}
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 0
              </li>
            </ul>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    <!-- End of gallery -->
  </div>
  {% else %}
  <h1>
    No posts yet .
    <a href="{% url 'createpost' %}">Create your first post now !!</a>
  </h1>
  {% endif %}
  <!-- End of container -->
</main>

{% endblock content %}
